[
  {mousetrap, [
    {slack_token, "<slack token here>"},
    {pins_export_file, "/sys/class/gpio/export"},
    {pins_root_directory, "/sys/class/gpio/gpio"},
    {pins, [
        {gpio0, 30, "1 (over workshop door)"},
        {gpio0, 31, "2 (by basement freezer)"},
        {gpio0, 48, "3 (in the kitchen pantry)"},
        {gpio0, 5, "4 (Not yet wired)"}
    ]},
    {quiet_minutes, 5}
  ]}
].